body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    overflow:auto;
}
header {
    background: #0a0a0a;
    color: #fff;
    padding: 19.2px 38.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Jost', sans-serif;
}
strong{
    font-size: xx-large;
}
.home{
    color: #47b2e4 ;
    font-size: 1.1rem;
}
.home1{
    color: #47b2e4 ;
    font-size: 1.1rem;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem;
}
header #list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem;
    list-style: none;
}
header nav a {
    color: #fff;
    margin: 0 .4rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.list li a,form{
    color: #fff;
    margin: 0 .4rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.list{
    background-color: #0a0a0a;
    margin: auto;
    list-style: none;
    padding: 0;
    display: none;
}
.list li{
    font-size: 17px;
    padding: 13px;
}

.list li a:hover{
    color: #47b2e4;
    font-size: large;
}
.display{
    display: block;
}
header nav a:hover{
    color: #47b2e4;
    font-size: large;

}
.btn-primary:hover{
    color: #000;

}
.home:hover{
    font-size: 1.3rem;

}
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 40px;
    background: #090a0a;
    color: #fff;
}
.hero-text {
    flex: .5;
    text-align: left;
    padding-top: 4rem ;
    
    
}
.hero-img{
    flex: .5;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.hero-img img{
    flex: 1;
}

.hero-text h1 {
    font-size: 2.5em;
}
.btn-primary {
    padding: 0.625rem 1.25rem;
    background: #47b2e4;
    color: #fff;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    text-decoration: none;
}
.about, .skills, .work-process, .newsletter, footer {
    padding: 1.875rem 1.875rem;
    overflow: hidden;
}
.about h2{
    text-align: center;
}
.about-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-text .btn-primary{
    border: 2px solid #47b2e4;
    color: #47b2e4;
    background-color: #fff;
    border-radius: 5px;
}
.about-text div {
    flex: 1;
    min-width: 17.5rem;
    margin: 0.625rem;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.skills img {
    width: 100%;
    max-width: 31.25rem;
    margin-right: 2.5rem;
    flex: 1;
}
.skills-bars {
    flex: 1;
    min-width: 17.5rem;
}
.bar {
    background: #ddd;
    margin: 10px 0;
    
}
.bar-fill {
    height: 10px;
    background: #000;
}
.work-process {
    text-align: center;
}
.work-process-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 18.75rem;
    flex: 1;
    text-align: left;
    
}
.card img{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.card ul{
    padding-left: 10px ;

}
.card ul li {
    padding: 5px 0;
}
.newsletter {
    text-align: center;
    background: #f5f5f5;
}
.newsletter input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}
footer {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer div {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}
footer a {
    display: block;
    color: #444444;
    text-decoration: none;
    margin: 5px 0;
}
footer ul{
    padding-left: 12px;
}
footer ul li {
    list-style: none;
}
footer ul li ::before{
    content: "\00BB";
}
footer i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.7rem;
    font-size: larger;
    margin: 0 0.2rem;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    display: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    
}

.input-wrapper input {
    padding-right: 40px;
    width: 20rem;
}

.input-wrapper button {
    position: absolute;
    top: 1px;
    right: -3.2rem;
    border: none;
    cursor: pointer;
}

select,
::picker(select) {
  appearance: base-select;
}
select {
    border: none;
    padding-left: 0;
}
.option-label:hover{
    color: #47b2e4;
}
select::picker(select) {
    border: none;
}
option {
    display: flex;
    justify-content:flex-start;
    gap: 16px;
  
    border: none;
    background: #fff;
    padding: 7px;
}
#drop:hover{
    color: #47b2e4;
}


.copyright p{
    text-align: center;
}

.hidden{
    display: none;
}

@media (max-width: 800px) {
    body{
        width: 100%;
    }
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-img img{
        height: 325px;
        width: 325px;
    }
    .skills {
        flex-direction: column;
    }
    .work-process-cards {
        flex-direction: column;
        align-items: center;
    }
    .checkbtn{
        display: block;
    }
}

@media (max-width: 550px) {
    .input-wrapper input {
        padding-right: 40px;
        width: 10rem;
    }
    .input-wrapper {
        position: relative;
        display: inline-block;
        
    }
    header{
        padding: .6rem 1.1rem;
        
    }
    header nav a,.nav-form{
        display: none;
    }
    
}




    
  
  
